{% extends "lk/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
<h3>AКТ</h3>

{% endblock page_header %}

{% block content %}
        {% if metod == 'd' %}
            <form class="form" action="{% url 'lk:actd' id%}" method="post">
        {% endif %}
        {% if metod == 'e' %}
            <form class="form" action="{% url 'lk:acte' id%}" method="post">
        {% endif %}
        {% if metod == 'n' %}
            <form class="form" action="{% url 'lk:act_new' id%}" method="post">
        {% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-primary" name="submit">изменить</button>
    {% endbuttons %}
</form>

{% endblock content %}