{% extends "lk/base.html" %}

{% block page_header %}
<h3>СПИСОК ЗАЯВОК</h3>
{% endblock page_header %}

{% block content %}
    {% for order in orders %}
        <div class="card mb-3">
            <div class="card-header">
                {% if editable %}
                {{ order.owner.username }}  |
                {% endif %}
                {{ order.date_added|date:'M d, Y H:i' }}
                <span class="ms-3">{{ order.status }}</span>
                {% if order.date_relise != None %}
                    <span class="ps-3">Выполнено {{order.date_relise|date:'M d'}}</span>
                {% elif order.date_plane != None %}
                    <span class="ps-3">Планируемая дата {{order.date_plane|date:'M d'}}</span>
                {% endif %}
                {% if editable %}
                    <span class="ps-5"><a href="{% url 'lk:edit_order' order.id %}">edit</a></span>
                {% endif %}
            </div>
            <div class="card-body">
            {{ order.text_order|linebreaks }}
            </div>
        </div>

    {% empty %}
        <li>Нет сформированных заявок</li>
    {% endfor %}
<br/><br/>


<nav aria-label="Page navigation example">
  <ul class="pagination">
{% if orders.has_previous %}
<li class="page-item"><a class="page-link" href="?page=1">&laquo Первая</a></li>
<li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}">Предыдущая</a></li>
{% endif %}
      <li class="page-item"><a class="page-link" href="">{{ orders }}</a></li>
{% if orders.has_next %}
<li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">Следующая</a></li>
<li class="page-item"><a class="page-link" href="?page={{ orders.paginator.num_pages }}">Последняя &raquo</a></li>
{% endif %}
      </ul>
</nav>






{% endblock content %}